<h3 class="form-signin-heading">Cats Lister</h3>
<hr/>
<div class="col-md-4">
    <div class="panel panel-success" id="panelMale">
        <div class="panel-heading">
            <h3 class="panel-title">Male</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let cat of cats">
                <div class='games' *ngIf="cat.ownerGender=='Male'">
                    <div class='games'>
                        <ul><li>{{cat.name}}</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-success" id="panelMale">
        <div class="panel-heading">
            <h3 class="panel-title">Female</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let cat of cats">
                <div class='games' *ngIf="cat.ownerGender=='Female'">
                    <div class='games'>
                        <ul><li>{{cat.name}}</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>